/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
body {
  max-width: 768px;
  margin: 0 auto;
}

header {
  min-height: 400px;
  background-image: url("./../images/apple-pie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #fff;
  font-size: 60px;
  text-align: center;
  padding-top: 160px;
  font-weight: 300;
}

main {
  width: 71%;
  margin: 20px auto;
}

.recipe-instructions {
  padding: 40px 0 20px;
  border-top: 1px solid #000;
}
#recipe-intro {
  padding: 40px 0 20px;
}

h2 {
  padding-bottom: 40px;
}

.reciple-list {
  padding-left: 20px;
  list-style: none;
  line-height: 1.5;
}

.recipe-icons {
  margin-top: 60px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

#recipe-info {
  height: 45px;
  background-image: url("./../images/recipe-info.png");
}

#cooking-info {
  height: 60px;
  background-image: url("./../images/cooking-info.png");
}
